<div class="user-index-wrapper">
  <div class="container">
    <h1 class="text-center">ユーザー一覧</h1>
    <% @users.each do |user| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="user-index-single">
            <div class="user-img"><%= image_tag user.image.url %></div>
            <div class="user-name">
              <%= link_to user.name, user_path(id: user.id) %>
            </div>
            <% if current_user.admin? && current_user != user %>
              <div class="user_delete">
                <%= link_to "削除", user_path(id: user.id), method: :delete %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <div class='text-center'><%= paginate @users %></div>
  </div>
</div>
