<div class="post-index-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="post-index-single">
          <h2 class="post-author"><%= current_user.name %></h2>
          <div class="post-content"><%= current_user.email %></div>
        </div>
      </div>
    </div>
  </div>
</div>