<div class="top-wrapper">
  <div class="container about-container text-center">
    <div class="background-white">
      <h1>まちログとは？</h1>
      <h3>あなたが暮らすまち、訪れたまちの好きなところを"発信・共有"することができるサービスです！</h3>
      <div class="row about-area">
        <div class="col-md-offset-3 col-md-3">
          <span class="fas fa-edit fa-10x"></span>
          <h3 class="about-left about-title">post!</h3>
          <h4 class="about-left">あなたが暮らすまちや旅行などで訪れたまちの"魅力"を発信できます。</h4>
        </div>
        <div class="col-md-3">
          <span class="fas fa-search-location fa-10x"></span>
          <h3 class="about-right about-title">serch!</h3>
          <h4 class="about-right">あなたが気になっているまちに関する投稿を検索することができます。</h4>
        </div>
      </div>
    </div>
  </div>
</div>

  
