<div class="top-wrapper text-center">
  <div class="container top-container">
    <h1 class="text-white">まちログとは</h1>
    <h2 class="text-white">あなたの呟きがまちを元気にする！</h3>
    <h3 class="text-white">あなたが暮らすまち、訪れたまちの好きなところを発信することができます.</h3>
    <h3 class="text-white">まちの魅力をどんどん共有し、まちを盛り上げていきましょう！</h3></h3>
  </div>
</div>
    
