<div>
  <div>
    <h1>じもトーク</h1>
    <h2>あなたの住むまちを自慢しよう！</h2>
  </div>
  
  <div class="row">
    <div>
      <%= link_to '新規登録', signup_path, class: 'btn btn-block' %>
    </div> 
    <div>
      <%= link_to 'ログイン', '#',class: 'btn btn-block' %>
    </div>
  </div>
</div>