<div class="top-wrapper text-center">
  <div class="container top-container">
    <h1>まちログ</h1>
    <h2>あなたの呟きでまちを元気にしよう！</h2>
    <div class="test-login">
      <%= form_for :session, url: login_path do |f|  %>
        <%= f.hidden_field :email, :value => "test@gmail.com" %>
        <%= f.hidden_field :password, :value => "test0000" %>
        <%= f.submit 'お試しログイン' , class: 'btn btn-block btn-danger'%>
      <% end %>
    </div>
  </div>
</div>