
ul {
  list-style: none;
  padding: 0;
}


// font-color
.text-white {
  color: #fff;
}

.text-gray {
  color: #a9a9a9;
}


// alert
.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
  text-align: center;
}


//button
.btn-primary{
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 20px;
  &:hover {
    color: #fff;
  }
}

.btn-danger {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 20px;
}



// header
.navbar-transparent {
  margin-bottom: 0px;
  background-color: #333333;
  height: 50px;
  .container{
    height: 50px;
    a {
      color: #ffffff !important;
      margin-top: 0px;
    }
    .navbar-brand {
      height: 50px;
      font-size: 20px;
      font-family: 'HiraKakuPro-W6';
    }
  }
}


// footer 
.footer {
  padding-top: 5px;
  border-top: 1px solid #e6e6fa;
  span {
    color: #708090;
  }
}


// body
body {
  background-color: #eeeeee;
}


// top,about,signin,login
.top-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('bgtop.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  .top-container{
      padding-top: 200px;
    h1 {
      font-size: 55px;
      margin-bottom: 25px;
      font-weight: bold;
      font-family: 'HiraKakuPro-W6';
    }
    h2 {
      margin: 20px auto;
      font-weight: bold;
      width: 800px;
    }
    h3{
      font-weight: bold;
    }
    .test-login {
      padding-top: 30px;
      .btn{
        width: 300px;
        margin: 20px auto;
      }
    }
  }
}


// about

.about-container{
  padding-top: 160px;
  h1 {
    font-size: 55px;
    margin-bottom: 25px;
    font-weight: bold;
    font-family: 'HiraKakuPro-W6';
  }
  h2 {
    margin: 20px auto;
    font-weight: bold;
    width: 800px;
  }
  .about {
    padding-top: 40px;
  }
  .about-title{
    font-weight: bold;
    font-size: 40px;
  }
  .about-left {
    font-weight: bold;
    margin-top: 15px;
    padding-right: 30px;
  }
  .about-right {
    font-weight: bold;
    margin-top: 15px;
    padding: 0 15px;
  }
}


.about-area {
  margin-top: 80px;
}

//signin

.signin-area {
  background-color: #ffffff;
}

.form-control {
  height: 45px;
}

// login
.login-area {
  background-color: #ffffff;
}


//post_new
.post-new-wrapper {
  height: 80vh;
  .post-new-container{
    padding-top: 120px;
  }
}


//post_index
.post-index-wrapper {
  padding-top: 50px;
  .post-index-single {
    background-color: #fffafa;
    padding: 0px 20px 0px 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    .post-author {
      margin-top: 5px;
      .post-author-name{
        font-weight: bold;
      }
    }
    
    .post-area{
      color: #0000cd;
    }
    
    .post-content {
      font-size: 18px;
      margin: 12px 0;
      width: 100%;
    }
    
    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }
    
    .post-text {
      padding-top: 20px;
    }
    
    .post-menu {
      padding-top: 20px;
    }
  }
}


.menu-btn {
  color: #8899a6;
}

.unlike-btn {
  color: #ff2581;
}


// comment

.comment-title {
  margin-top: 5px;
  padding-top: 7px;
  border-top: 1px solid #a9a9a9;
}

.comment-single {
  margin-top: 5px;
  padding: 3px;
  background-color: #ffffff;
  border: 1px solid #a9a9a9;
  .comment-user {
    display: inline-block;
    width: 13%;
    font-size: 14px;
    vertical-align: top;
  }
  
  .comment-text {
    display: inline-block;
    width: 77%;
    font-size: 14px;
    vertical-align: top;
  }
  
  .comment-delete {
    display: inline-block;
    width: 5%;
    font-size: 12px;
    float: right;
  }
}



//comment_new
.comment-new-wrapper {
  height: 80vh;
  .comment-new-container {
    padding-top: 120px;
  }
}

// post-show
.post-show-wrapper {
  height: 80vh;
}


