
ul {
  list-style: none;
  padding: 0;
}


// font-color
.text-white {
  color: #fff;
}

.text-gray {
  color: #a9a9a9;
}


// alert
.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
  text-align: center;
}

// error
#error_area {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}



//button
.btn-primary{
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 20px;
  &:hover {
    color: #fff;
  }
}

.btn-danger {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 20px;
}



// header
.navbar-transparent {
  margin-bottom: 0px;
  background-color: #333333;
  height: 80px;
  .container{
    height: 80px;
    a {
      color: #ffffff !important;
      margin-top: 0px;
    }
    .navbar-brand {
      height: 50px;
      img .nav-image {
        width: 100%;
        height: 100%;
      }
    }
    .navbar-right {
      margin-top: 15px;
    }
  }
}


// footer 
.footer {
  padding-top: 5px;
  border-top: 1px solid #e6e6fa;
  span {
    color: #708090;
  }
}


// body
body {
  background-color: #eeeeee;
}


// top,about,signin,login
.top-wrapper {
  width: 100vw;
  height: 90vh;
  background-image: url('backgroundimg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  .top-container{
      padding-top: 180px;
    h1 {
      font-size: 55px;
      margin-bottom: 25px;
      font-weight: bold;
      font-family: 'HiraKakuPro-W6';
    }
    h2 {
      margin: 20px auto 50px auto;
      font-weight: bold;
      width: 800px;
    }
    h3{
      font-weight: bold;
    }
    .test-login {
      padding: 0;
      .btn{
        width: 360px;
        margin: 20px auto;
      }
    }
  }
}



// about

.about-container{
  padding-top: 130px;
  .background-white {
    padding: 30px 0;
    background-color: rgba(250,250,250,0.8);
    border-radius: 20px;
    h1 {
      font-size: 55px;
      margin-bottom: 25px;
      font-weight: bold;
      font-family: 'HiraKakuPro-W6';
    }
    h2 {
      margin: 20px auto;
      font-weight: bold;
      width: 800px;
    }
    .about {
      padding-top: 40px;
    }
    .about-title{
      font-weight: bold;
      font-size: 40px;
    }
    .about-left {
      font-weight: bold;
      margin-top: 15px;
      padding-right: 30px;
    }
    .about-right {
      font-weight: bold;
      margin-top: 15px;
      padding: 0 15px;
    }
  }
}


.about-area {
  margin-top: 80px;
}

//signin
.signin-area {
  background-color: rgba(250,250,250,0.8);
  border-radius: 10px;
}

.form-control {
  height: 45px;
}

.signin-title {
  font-size: 40px;
  font-weight: bold;
  margin: 5px 0;
}

// login
.login-area {
  background-color: rgba(250,250,250,0.8);
  border-radius: 10px;
}

.login-title {
  font-size: 40px;
  font-weight: bold;
  margin: 5px 0;
}


//user_index
.user-index-wrapper {
  width: 100vw;
  height: 90vh;
  .user-index-single {
    height: 100px;
    background-color: #fffafa;
    padding: 20px 30px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    filter: drop-shadow(1px 1px 1px  rgba(0,0,0,0.3));
    .user-img {
      float: left;
      width: 60px;
      height: 60px;
    }
    .user-name {
      padding: 20px 30px;
      float: left;
      width: 80%;
      a {
        color: #000000;
        text-decoration: none;
        font-size: 16px;
        &:hover {
          color: #696969;
        }
      }
    }
  }
}

//user_show
.user-show-wrapper {
  width: 100vw;
  height: 90vh;
  .user-show {
    padding-top: 80px;
  }
}

.user-img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  img {
    width: 100%;
    height: 100%;
    border-radius: 45%;
    box-shadow: 0 2px 6px #c1ced7;
    object-fit: cover;
  }
}

//user_edit
.user-edit-wrapper {
  width: 100vw;
  height: 90vh;
  .user-edit {
    padding-top: 80px;
  }
}


//post_new
.post-new-wrapper {
  height: 80vh;
  .post-new-container{
    margin-top: 80px;
    font-size: 20px;
  }
}

//post_index
.post-index-wrapper {
  padding-top: 50px;
  .post-index-single {
    background-color: #fffafa;
    padding: 5px 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    filter: drop-shadow(1px 1px 1px  rgba(0,0,0,0.1));
    .post-author-img {
      width: 40px;
      height: 40px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 45%;
        box-shadow: 0 2px 6px #c1ced7;
        object-fit: cover;
      }
    }
    .post-author {
      margin-top: 5px;
      .post-author-name{
        font-weight: bold;
      }
    }
    
    .post-area{
      color: #0000cd;
    }
    
    .post-content {
      font-size: 18px;
      margin: 12px 0;
      width: 100%;
    }
    
    .post-img {
      width: 100%;
      height: 100%;
    }
    
    .post-text {
      padding-top: 20px;
    }
    
    .post-menu {
      padding-top: 20px;
    }
  }
}

.post-user-parent {
  display: flex;
}

.post-user-left {
  margin-top: 5px;
}
.post-user-right {
  margin-left: 10px;
}

.menu-btn {
  color: #8899a6;
}

.unlike-btn {
  color: #ff2581;
}


// comment

.comment-area {
  background-color: #f5f5f5;
  padding: 5px 20px;
  border: 1px solid #e6ecf0;
  filter: drop-shadow(1px 1px 1px  rgba(0,0,0,0.1));
  .comment-single {
    margin: 5px 0 10px 0;
    padding: 3px;
    .comment-user {
      display: flex;
      .comment-user-left {
        width: 20px;
        height: 20px;
        float: left;
        img {
          width: 100%;
          height: 100%;
          border-radius: 45%;
          box-shadow: 0 2px 6px #c1ced7;
          object-fit: cover;
        }
      }
      .comment-user-right{
        margin-left: 8px;
      }
    }
    .comment-text {
      margin-top: 10px;
      padding: 5px;
      background-color: #ffffff;
      .comment-delete {
        text-align: right;
        margin-right: 5px;
        opacity: 0.5;
      }
    }
  }
}

.comment-text-top {
  content: '';
  position: absolute;
  display: block;
  margin-top: 5px;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ffffff;
  border-left: 10px solid transparent;
}

//comment_new
.comment-new-wrapper {
  height: 80vh;
  .comment-new-container {
    padding-top: 120px;
  }
}

// post-show
.post-show-wrapper {
  height: 80vh;
}


